body {
    background: url('pic.jpg') no-repeat;
    background-size: cover;
    margin-left: 10%;
   }
   
   ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    font-family: arial;
   }
   
   ul li {
    float: left;
    width: 180px;
    height: 40px;
    background-color: black;
    opacity: .8;
    line-height: 40px;
    text-align: center;
    font-size: 15px;
    margin-right: 3px;
   }
   
   ul li a {
    text-decoration: none;
    color: white;
    display: block;
   }
   
   ul li a:hover {
    background-color: green;
   }
   ul li ul li{
       display: none;
   }
   
   ul li:hover ul li {
    display: block;
    text-align: left;
    border-bottom: 2px solid white;
   }
@media screen and ( max-width:800px){
    ul li ul li a{
        display: block;
    }
    ul{
        float: left;
        width: 50px;
        height: 40px;
        background-color: black;
        opacity: .8;
        line-height: 40px;
        text-align: center;
        font-size: 15px;
        margin-right: 3px;
       }
       ul li:hover ul li{
           margin-left: 200px;
           color: blueviolet;
       }
   }
   
